# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__

# Serverless directories
.serverless

# vscode
.vscode

# swap files
.*.swp
.*.swo

# package files
python-layer/python/python/*
!python-layer/python/python/.gitkeep

# terraform files
.terraform*
terraform.tfstate**

# dataset
zinc*

aws/